// Icons from: https://game-icons.net/

html {
    font-size: 12px;
}

.Icon {
    height: 12px;
    width: 12px;
    // Fallback
    content: url(../icons/types/new/Default.svg);
}

.Large.Icon {
  height: 30px;
  width: 30px;
}

.selectIcon{
    content: url(../icons/editor/cursor-default-outline.svg);
}

.translateIcon {
    content: url(../icons/editor/cursor-move.svg);
}

.rotateIcon {
    content: url(../icons/editor/rotate-3d.svg);
}

.scaleIcon {
    content: url(../icons/editor/arrow-expand.svg);
}

.globeIcon {
    content: url(../icons/editor/earth.svg);
}

.cubeIcon {
    content: url(../icons/editor/cube-outline.svg);
}

.afavoritable:hover {
    content: url(../icons/editor/star.svg);
}

.faavoritable.favorited:hover {
    content: url(../icons/editor/star-off.svg);
}

.Icon-EffectBlueprint {
    content: url(../icons/types/new/EffectBlueprint.svg);
    // #F4AB00
}

.Icon-LogicPrefabBlueprint {
    content: url(../icons/types/new/LogicPrefabBlueprint.svg);
    // #9E9E9E
}

.Icon-ObjectBlueprint {
    content: url(../icons/types/new/ObjectBlueprint.svg);
    // #C94B4B
}

.Icon-PrefabBlueprint {
    content: url(../icons/types/new/PrefabBlueprint.svg);
    // #A0C94B
}

.Icon-SpatialPrefabBlueprint {
    content: url(../icons/types/new/SpatialPrefabBlueprint.svg);
    // #4BC94E
}

.Icon-VisualEnvironmentBlueprint2,
.Icon-VisualEnvironmentBlueprint {
    content: url(../icons/types/new/VisualEnvironmentBlueprint.svg);
    // #4B9DC9
}

.Icon-Texture2,
.Icon-Texture {
    content: url(../icons/types/new/Texture.svg);
    // #704BC9
}

.Icon-Light {
    content: url(../icons/types/new/Light.svg);
    // #EEEA33
}

.Icon-SoldierWeaponBlueprint {
    content: url(../icons/types/new/SoldierWeaponBlueprint.svg);
    // #81D4CB
}

.Icon-ProjectileBlueprint {
    content: url(../icons/types/new/ProjectileBlueprint.svg);
    // #AB81D4
}

.Icon-VehicleBlueprint {
    content: url(../icons/types/new/VehicleBlueprint.svg);
    // #438033
}

.Icon-WorldPartData {
    content: url(../icons/types/new/WorldPartData.svg);
    // #D4C59C
}

.Icon-LevelData {
    content: url(../icons/types/new/LevelData.svg);
    // #D4C59C
}

.Icon-SubWorldData {
    content: url(../icons/types/new/SubWorldData.svg);
    // #33807B
}

.Icon-SoldierBlueprint {
    content: url(../icons/types/new/SoldierBlueprint.svg);
    // #83AF89
}

.Icon-MultiSelection {
    content: url(../icons/types/new/MultiSelection.svg);
    // #037fff
}

.Icon-folder {
    content: url(../icons/editor/new/close-folder.svg);
    // #79889c
    width: 12px !important;
    height: 12px !important;
}

.Icon-folder-open {
    content: url(../icons/editor/new/open-folder.svg);
    // #037fff
    width: 12px !important;
    height: 12px !important;
}

.ExpandDown {
    content: url(../icons/editor/ExpandChevronDown_16x.svg);
}

.ExpandRight {
    content: url(../icons/editor/new/chevron-right.svg);
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    content: url(../icons/editor/close-circle.svg);
    right: 0px;
}
