* {
  font-family: Arial, sans-serif;
}

#viewport-container {
  background: none !important;
  pointer-events: none;
  * {
	background: none !important;
	pointer-events: none;
  }
}
.lm_item_container, .lm_splitter, .lm_header {
  pointer-events: auto;
}
.lm_content {
  background: rgba(34, 34, 34, 0.8)!important;
  color: #999;
  height: 100%;
}
.glComponent {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.lm_goldenlayout {
  background-color: transparent!important;
}

.lm_header {
  background-color: rgba(0, 0, 0, 0.8)!important;
}

#viewport {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: auto;
}
.datafont {
  font-family: 'Overpass Mono';
}
.tr {
  display: flex;
  width: 100%;
}
.th,
.td {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  direction: rtl;
  text-align: left;
  margin-right: 30px;
}
.vue-recycle-scroller__slot .th:first-child,
.vue-recycle-scroller__item-view .td:first-child {
  flex: 1;
}
