*, html {
  font-family: sans-serif;
  box-shadow: none;
}
input {
  height: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4) !important;
  color: #fff;
  border-top: 1px solid rgb(0 0 0 / 40%) !important;
}
input[type="text"] {
  padding-left: 1em;
}
#viewport-container {
  background: none !important;
  pointer-events: none;
  * {
	background: none !important;
	pointer-events: none;
  }
}
.lm_item_container, .lm_splitter, .lm_header {
  pointer-events: auto;
}
.lm_splitter {
  opacity: 0.5;
}
.lm_content {
  background: rgba(34, 34, 34, 0.8)!important;
  color: #999;
  height: 100%;
}
.glComponent {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.lm_goldenlayout {
  background-color: transparent!important;
}

.lm_header {
  background-color: rgba(0, 0, 0, 0.8)!important;
}

.lm_header > .lm_items:has(div.noHeader) {
  display: none;
}

#viewport {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: auto;
}
.datafont {
  font-family: sans-serif;
}
.tr {
  display: flex;
  width: 100%;
}
.th,
.td {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  direction: rtl;
  text-align: left;
  margin-right: 30px;
}
.vue-recycle-scroller__slot .th:first-child,
.vue-recycle-scroller__item-view .td:first-child {
  flex: 1;
}
.lm_header .lm_tab.lm_active, .lm_header .lm_tab {
  box-shadow: none!important;
}
.lm_header .lm_tab.lm_active {
  border-bottom: 3px solid #409EFF!important;
  padding-bottom: 3px!important;
}
.lm_drag_handle:hover {
  background-color: #409EFF;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

