.Int32 input, .UInt32 input, .Int16 input, .UInt16 input, .SByte input {
  color: #66d9ef;
}
.Single input, {
  color: #9e73c6;
}
.type {
  color: #f98926;
}
.path {
  color: #688457;
}
.null {
  color: #c67373;
}
.guid {
  color: #3e3e3e
}
