{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "@vue/standard",
    "@vue/typescript"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "plugins": ["typescript"]
  },
  "rules": {
    "no-tabs": 0,
    "semi": ["error", "always"],
    "indent": ["error", "tab"],
    "no-useless-constructor": 0,
    "no-multi-spaces": ["error", { "exceptions": { "VariableDeclarator": false } }],
    "space-before-function-paren": ["error", {
      "anonymous": "ignore",
      "named": "never",
      "asyncArrow": "always"
    }],
    "func-call-spacing": "off"
  }
}
